<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>

    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                    <span>CAC - Movies</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>
        
    </header>

    <!-- Contenido -->
    <main>
        <section id="form"></section>
        <section id="list"></section>
    </main>

    <!-- Pie de página -->
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
    
</body>
</html>