<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>

<body>

    <!-- Encabezado -->
    <header>

        <nav>
            <!-- Logo -->
            <div>
                <a href="/">
                    <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                    <span>CAC - Movies</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="./templates/register.html">Registrarse</a></li>
                <li>
                    <a href="#">
                        <!-- Más adelante se aplicará estilo especifico
                        al texto y se agregará un ícono -->
                        <span>Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <!-- banner: una sección prominente en la 
            parte superior de una página que puede
            contener información destacada, como anuncios,
            mensajes importantes, o un diseño gráfico distintivo. -->
        <section id="banner">
            
            <div>
                <h1>Películas y series ilimitadas y mucho más.</h1>
                <h2>Disfruta donde quieras. Cancela cuando quieras.</h2>
                <a href="register.html">Registrate</a>
            </div>

        </section>

        <!-- search: para implementar una barra 
            de búsqueda en la página web  -->
        <section id="search">
            <h2>¿Qué estas buscando para ver?</h2>
        </section>

        <!-- popular: mostrar imágenes de las peliculas
            con tendencia hoy -->
        <section id="popular">

            <!-- División contenedora del titulo
                e imagenes -->
            <div>

                <h2>Las tendencias de hoy</h2>
                <!-- Div para mostrar todas las imagenes e info 
                    de las películas -->
                <div id="list-popular"></div>

            </div>

        </section>

        <!-- top-rated: mostrar las películas más aclamadas-->
        <section id="top-rated">

             <!-- División contenedora del titulo
                e imagenes -->
                <div>

                    <h2>Las más aclamadas.</h2>
                    <!-- Div para mostrar todas las imagenes e info 
                        de las películas -->
                    <div id="list-top-rated"></div>
    
                </div>

        </section>
    </main>

    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>

</body>

</html>