<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>

     <!-- Encabezado -->
     <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="tabla.html">Tabla</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="http://www.google.com" target="_blank">Google</a>
        </nav>
     </header>

     <!-- Contenido -->
     <main>
        <h1>Galeria</h1>
        <section>
            <div><a href="#lobomarino">Ir a lobo marino</a>
           
            </div>
            <div>
                <img src="../img/1084-536x354-grayscale.jpg" alt="Algo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, similique? Pariatur culpa maxime id nihil qui eius neque quas? Culpa, placeat sit deleniti impedit ad corporis quis odio dolor officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. A, adipisci beatae, modi blanditiis quae excepturi harum numquam, facilis placeat sunt repudiandae itaque dicta similique sed officiis quo aliquam nemo alias.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ullam suscipit cumque. Eum quos consequuntur itaque, repudiandae voluptates ipsa. Numquam similique sequi officiis! Molestiae, inventore temporibus ea doloremque aliquid expedita.
                </p>
                <a name="lobomarino"><h2>Lobo marino</h2></a>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis vel harum fugiat perspiciatis ipsum voluptate eum debitis tempora deserunt repudiandae! Voluptatem perspiciatis porro saepe accusamus nam voluptate, nisi cumque quos.</p>
                <a href="../img/1084-536x354-grayscale.jpg" target="_blank">Ver imagen</a>
                <a href="../img/1084-536x354-grayscale.jpg" download>Descargar</a>
                <a href="../atajos.pdf" download>Descargar pdf</a>
                <a href="mailto:anmistagnaro@gmail.com">Email</a>
            </div>

        </section>
     </main>
 
     <!-- Footer -->
     <footer></footer>
    
</body>
</html>