<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>

<header>

    <nav>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="tabla.html">Tabla</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="http://www.google.com" target="_blank">Google</a>

        </nav>
    </nav>


</header>

<body>
    <section>
        <ol>
            <li>Casa</li>
            <li>Auto</li>
            <li>Cohete</li>
        </ol>
    </section>
    <section>
        <ul>
            <li>Damian</li>
            <li>Roberto</li>
            <li>Esteban</li>
            <li>Luis</li>
        </ul>
    </section>
    <section>
        <ul>
            <li>Terror</li>
            <ul>
                <li>Scream</li>
                <li>Martes 13</li>            
            </ul>
                
        </ul>
    </section>
    <section>
        <p><b>Alimentos lacteos</b></p>
        <dl>
            <dt>Leche</dt>
            <dd>Descremada</dd>
            <dd>Entera</dd>
            <dt>Queso</dt>
            <dd>Fontina</dd>
            <dd>Cremoso</dd>
        </dl>
    </section>

</body>
</html>