<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="tabla.html">Tabla</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="http://www.google.com" target="_blank">Google</a>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <h1>Tabla</h1>
    </main>

    <!-- Footer -->
    <footer></footer>

</body>
</html>