<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CAC-Movies</title>
</head>
<body>
    
    <!-- Encabezado -->
    <header></header>

    <!-- Contenido -->
    <main>

        <!-- form-wrapper: formulario -->
        <section id="form-wrapper">
            <h2>Registro</h2>
        </section>

    </main>

    <!-- Pie de página -->
    <footer></footer>
    
</body>
</html>