<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>

     <!-- Encabezado -->
     <header></header>

     <!-- Contenido -->
     <main>
        <h1>Galeria</h1>
        <section>
            <div>
                <img src="../img/1084-536x354-grayscale.jpg" alt="Algo">
                <h2>Lobo marino</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis vel harum fugiat perspiciatis ipsum voluptate eum debitis tempora deserunt repudiandae! Voluptatem perspiciatis porro saepe accusamus nam voluptate, nisi cumque quos./p>
                <a href="../img/1084-536x354-grayscale.jpg" target="_blank">Ver imagen</a>
            </div>

        </section>
     </main>
 
     <!-- Footer -->
     <footer></footer>
    
</body>
</html>