<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>

     <!-- Encabezado -->
     <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="tabla.html">Tabla</a>
            <a href="galeria.html">Galeria</a>
            <a href="http://www.google.com" target="_blank">Google</a>
            <a href="#texto">Ver texto</a>
        </nav>
     </header>

     <!-- Contenido -->
     <main>
        
        <section>
            <h1>Galeria</h1>

            <div>
                <img src="../img/esquel_1.jpg" alt="Lago de Esquel">
                <h3>Vení a Esquel</h3>
                <p>Descripción: Te esperamos para pasear en la Trochita🚉</p>
                
                <!-- Enlace para abrir la imagen en una nueva ventana -->
                <a href="../img/personas-perro-coche.jpg" target="_blank">Ver imagen</a>
           
                <br>
                <!--  Descargar la imagen -->
                <a href="../img/personas-perro-coche.jpg" download="">Descargar img</a>
                
                <br>
                <!-- <a href="../atajos.pdf" download="">Descargar PDF</a> -->
                <a href="../atajos.pdf" >Descargar PDF</a>

                <br>
                <a href="mailto:johana.rangel@bue.edu.ar">Enviar correo</a>
            
            </div>

        </section>

        <section id="texto">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At quisquam, eaque iusto iste quos commodi aperiam veniam, animi, saepe consequatur sit corrupti id dicta facilis molestias ipsam dolores. Quis, ut?
            <span>Laboriosam ratione amet excepturi saepe odit debitis consequuntur temporibus, doloremque cum provident corrupti velit nobis consectetur deleniti nemo in eligendi aliquam iusto fugit nulla iure sint quis? Exercitationem, officia debitis!</span>
            Accusamus aspernatur cumque sint totam vel voluptatum temporibus exercitationem neque dolore autem, vitae et deserunt iusto quia, debitis facilis iste, eaque excepturi numquam. Repudiandae cum quas cumque quasi praesentium totam.
            Sed, minus? Earum iure, consequuntur sint autem unde id dolores consequatur possimus odit officia ab dolore quaerat ipsa obcaecati similique qui nobis molestiae hic. Libero corrupti ea totam commodi doloribus.
            Enim nulla unde voluptatibus, consequatur excepturi quas blanditiis totam exercitationem aliquam repellendus aut porro soluta tempore eius animi tempora corrupti ducimus nam molestias? Numquam hic magnam illo dolorem delectus voluptas.
            Dolorem blanditiis unde repudiandae officiis consequuntur omnis obcaecati atque sit aliquam explicabo pariatur aliquid nostrum, quam doloremque praesentium numquam tempora cupiditate provident. Harum repudiandae sunt quasi quidem dolore minus sequi!
            Harum aut officia cumque perferendis, error numquam, quam earum hic, deserunt iste commodi sed nemo blanditiis esse rem dolorem labore omnis laboriosam similique asperiores nulla dolorum. Est praesentium incidunt neque?
            Illum dolorem eius possimus impedit facilis. Iste libero sequi fugit dolorum nulla suscipit fuga. Repudiandae molestias nobis praesentium? Suscipit quas repellendus nemo? Consequatur id nostrum quo quam fugiat dolore officia!
            Sapiente doloribus quo accusantium culpa eos explicabo ad consectetur dolorum! Necessitatibus doloremque, hic porro expedita amet tempora nulla esse, inventore voluptas, repudiandae eos officiis accusantium fugit fuga neque repellendus ratione?
            Deleniti velit deserunt asperiores vel veniam debitis quo unde optio ratione, impedit soluta, est porro quis. Ea ipsum aut sequi, ipsa quos est quo laudantium architecto beatae voluptas ex porro?</p>
        </section>

     </main>
 
     <!-- Footer -->
     <footer></footer>
    
</body>
</html>