<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>

    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="listas.html">Listas</a>
            <a href="tabla.html">Tabla</a>
            <a href="galeria.html">Galeria</a>
            <a href="http://www.google.com" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <h1>Listas</h1>

        <section>
            <h1>Listas desordenadas</h1>

            <ul>
                <li>Chile</li>
                <li>Argentina</li>
                <li>Perú</li>
                <li>Sri Lanka</li>
                <li>Uruguay</li>
            </ul>

            <ul type="circle">
                <li>Chile</li>
                <li>Argentina</li>
                <li>Perú</li>
                <li>Sri Lanka</li>
                <li>Uruguay</li>
            </ul>

            <ul type="square">
                <li>Chile</li>
                <li>Argentina</li>
                <li>Perú</li>
                <li>Sri Lanka</li>
                <li>Uruguay</li>
            </ul>

        </section>

        <section>
            <h2>Listas Ordenadas</h2>

            <ol>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <ol reversed>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <ol type="A" reversed>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

            <ol type="i">
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

        </section>

        <section>
            <h2>Listas Dependientes</h2>

            <ol>
                <li>Lunes</li>
                    <ul>
                        <li>Mañana</li>
                            <ul>
                                <li>9:00 Desayunar y trabajar </li>
                                <li>12:00 Almorzar</li>
                            </ul>

                        <li>Tarde</li>
                            <ul>
                                <li>14:00 Trabajar</li>
                                <li>17:00 Merendar, que no falte el mate.</li>
                            </ul>

                        <li>Noche</li>
                            <ul>
                                <li>19:00 Clase en Codo</li>
                                <li>22:00 Cenar</li>
                            </ul>
                    </ul>

                <li>Martes</li>
                <li>Miércoles</li>
                <li>Jueves</li>
                <li>Viernes</li>
                <li>Sábado</li>
                <li>Domingo</li>
            </ol>

        </section>

        <section>
            <h2>Listas de Definición</h2>

            <i><h3>Alimentos Lácteos</h3></i>
            <dl>
                <dt>Leche</dt>
                    <dd>En polvo</dd>
                    <dd>Descremada</dd>
                    <dd>Completa</dd>

                <dt>Queso</dt>
                    <dd>Parmesano </dd>
                    <dd>Regianito</dd>
                    <dd>Cottage</dd>

            </dl>
        </section>


    </main>

    <footer></footer>
    
</body>
</html>