<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="https://www.google.com.ar" target="_blank">Google</a>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h1>Ese es mi web site</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, cupiditate inventore. Ullam voluptatem dolores similique nihil repellendus qui, tenetur, possimus nisi reprehenderit, eos numquam enim hic. Vero labore nulla quo?</p>
            </div>
            <div>
               <img src="https://img.freepik.com/foto-gratis/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco_346278-1657.jpg?w=1380&t=st=1710334276~exp=1710334876~hmac=3f792a8a28da0e693da9dbba6eeef977c8c0381f341d47d6e781612c55867c03" alt="Perro">
            </div>
        </section>
        
        <section>
            <h2>This is my code</h2>
            <p>Lorem, <mark>dolor</mark> sit amet consectetur adipisicing elit. Illum minima, corrupti dolorem nisi <i>maxime</i> nemo repudiandae adipisci, iure <strong>voluptatem quaerat</strong> <br>architecto. <b>Quod</b> nemo quis reprehenderit <u>quaerat</u> voluptatem enim natus!</p>      
        </section>
    </main>

    <footer>
    </footer>


</body>
</html>